{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}

{% block main_content %}
  <div class="container mt-5">
    <form method="post" novalidate class="w-50 mx-auto">
      {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">   
                <h2>Password Reset</h2>
                <p>Enter your email address to receive a password reset link.</p>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="text-danger small mb-3">{{ form.non_field_errors|striptags }}</div>
            {% endif %}
      <button type="submit" class="btn btn-primary">Send Email</button>
    </form>
  </div>
{% endblock main_content %}