{% extends 'base.html' %}
{% load static %}
{% block title %}Category Products{% endblock title %}

{% block main_content %}
<div class="container my-5">
    <div class="row g-3">
        <input type="hidden" id="id" value="{{ category.id }}">
        <input type="hidden" id="slug" value="{{ category.slug }}">

        <!-- Sidebar -->
        <div class="col-lg-3 col-md-4 mb-4">
            {% include "store/get-filters.html" %}
        </div>

        <!-- Product Grid -->
        <div class="col-lg-9 col-md-8" id="product-grid">
            {% include "store/product_grid.html" %}
        </div>
    </div>
</div>
{% endblock main_content %}

{% block extra_scripts %}
<script>
$(document).ready(function() {

    // All Filters — Select/Unselect all
    $("#all-filters").on('change', function() {
        let isChecked = $(this).is(":checked");
        $(".filter-checkbox").prop("checked", isChecked);
        $("#maxPrice").trigger("change");
    });

    // Apply AJAX when checkbox or price changes
    $('.filter-checkbox, #maxPrice').on('change', function(e){
        e.preventDefault();

        let filter_object = {};
        let id = $("#id").val();
        let slug = $("#slug").val();

        // Get selected filters
        $('.filter-checkbox:checked').each(function(){
            let key = $(this).data('filter');
            let value = $(this).val();

            if (!filter_object[key]) {
                filter_object[key] = [];
            }
            filter_object[key].push(value);
        });

        // Category info
        filter_object['id'] = id;
        filter_object['slug'] = slug;

        // Price range
        filter_object['maxPrice'] = $("#maxPrice").val();


        console.log(filter_object);

        // AJAX Call
        $.ajax({
            url: "{% url 'get-filter-products' %}",
            method: "POST",
            data: {
                ...filter_object,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            dataType: "json",
            success: function(res){
                $("#product-grid").html(res.html);
            }
        });
    });

});
</script>
{% endblock %}
